@media (max-width: 750px) {

  // Navbar
   .navbar {
    padding: 0.7rem 1.3rem;
    
    a {
        padding: 0rem;
        margin: 0 0.25rem;
        }
    }

    //Landing page
    .landing {
    
        &-inner {
            width: 80%;
            padding-top: 13rem;
        }
        h1 {
            font-size: 2.5rem;
            padding: 1rem;
            line-height: 2.2rem;
        }
        p {
            font-size: 1rem;
            margin-top: 1rem;
        }
    }

    // About Page
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .about {
    grid-template-columns: 1fr;
    
    & > div {
        padding: 2rem;
        margin: auto;
        margin-right: 2rem;
    }
    .about-main {
        display: block;
        margin: auto;
    }
    .about-info {
        border-radius: 0px;
        margin-top: 0rem;
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .about-history {
        border-radius: 0px;
        font-size: 1.1rem;
        margin-top: 3rem;
        margin-left: 0rem;
        margin-right: 0rem;

        .sombrero-pic {
            margin-top: 2rem;
        }
    }
    .map {
        max-width: 20rem;
        max-height: 20rem;
        padding-top: 1rem;
        border-radius: 5px;
    }
}
    
    .about-reviews {
        color:#fff;
        padding-top: 0;
        margin: 0;
        border-radius: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: 2;
        h2 {
            padding-top: 1rem;
            padding-bottom: 1rem;
            width: 100%;
        }
        #google-reviews {
            padding-bottom: 2rem;
            width: 100%;
        }
    }

    .review-item {
        margin: 0;
        padding: 0;
    }

    .btn {
    padding: 0.5rem;
    border-radius: 4px;
    }
  

    //Menu Page

    .menu-title {
        
        font-size: 1.8rem;
        padding: 1.2rem;
        border-radius: 5px;
        margin-top: 6rem;
        margin-bottom: 0;
        margin-left: 5%;
        margin-right: 5%;
    }

    .menu-list {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-bottom: 2rem;
        display: grid;
        margin-top: 2rem;
    }

    .col-1, .col-2 {
        width: 100%;
    }
}


// Tablets

@media (min-width: 751px) and (max-width: 1200px) {
    .about {  
        grid-template-columns: 2fr 4fr;
    }
    .about-info {
        margin-left: 3rem;
    }
   
}
