@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', san-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: $primary-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

//Navbar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;

    ul {
        display: flex;
    }

    a {
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;
        &:hover {
            color: $primary-color;
        }
    }
}


//Divider
.divider {
    min-height: 5px;
}


// Landing
.landing {
    position: relative;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;

    &-inner {
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 16rem;
    }
    h1 {
        font-size: 3.5rem;
        padding: 1rem;
        text-shadow: 5px 2px $dark-color;
        z-index: 2;
        border-radius: 5px;
    }
    p {
        font-size: 1.3rem;
        margin-top: 1.3rem;
        text-shadow: 2px 1px $dark-color;
        z-index: 2;
        border-radius: 5px;
    }
}

.x-large {
    background: rgba(0,0,0, 0.5);
}
.lead {
    background: rgba(0,0,0, 0.5);
}

// Contact
.contact {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contact > div {
    padding: 1.2rem;

    a {
        padding: .5rem;
    }
}
.weblinks {
    padding-bottom: 0.7rem;
}
.fa-facebook {
    color: #3b5998;
}
.fa-yelp {
    color: #c41200;
}
.fa-shipping-fast {
    color: #FF3008;
}


// About Page
.about {
    img {
        border: solid $dark-color 7px;
        border-radius: 5px;
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem;
    
    & > div {
        padding: 3rem;
        width: 500px;
    }

    .about-info {
        background-color: $dark-color;
        border-radius: 5px;
        color: #fff;
        width: 40%;
        margin-left: 3rem;
        align-items: center;
        text-align: center;
        justify-content: center;

        .phone {
            padding-top: 2rem;
        }
        .table {
            padding-top: 2rem;
            font-size: 1.3rem;
            margin: auto;
        }
        .address {
            padding-bottom: 0.3rem;
        }
        .hours {
            padding-bottom: 0.3rem;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    .about-history {
        background-color: $dark-color;
        color: #fff;
        border-radius: 5px;
        font-size: 1.3rem;
        width: 40%;
        .mayan-pic {
            display: block;
            margin: auto;
            height: 300px;
            width: 300px;
            object-fit: contain;
            margin-top: 0;
        }

        &:first-letter {
            font-size: 5rem;
        }
    }
    .about-pics3 {
        margin-bottom: 0;
    }
}

.map {
    max-width: 18rem;
    max-height: 18rem;
    padding-top: 1rem;
    border-radius: 5px;
}

.food-pics{
    display: flex;
    justify-content: center;
}

.food-pics img {
    margin: 1rem;
    width: 300px;
}
.about-reviews {
    background-color: $dark-color;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3rem 9rem;
    margin: 0rem 3rem 0rem 3rem;
    border-radius: 5px;
    h2 {
        padding-bottom: 1rem;
    }
    #google-reviews {
        padding-bottom: 2rem;
    }
}

.btn {
    background-color: #fff;
    color: $dark-color;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 4px;

}

td {
    padding-right: 1.6rem;
}




//Menu Page

.menu {
    position: absolute;
    width: 100%;
    background: url('../img/main.jpg') center center/cover;
}

.menu-title {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
    background-color: $dark-color;
    opacity: 0.95;
    padding: 2rem;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 0;
    margin-left: 25%;
    margin-right: 25%;
}

.fa-utensils {
    padding-left: 1rem;
    padding-right: 1rem;
}

.menu-list {
    background-color: $dark-color;
    color: #fff;
    margin-left: 7rem;
    margin-right: 7rem;
    text-align: center;
    opacity: 0.95;
    padding-bottom: 2rem;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    
    .menucat {
        padding: 1.2rem;
        text-decoration: underline;

    }
    .menucat2 {
        padding: 0.5rem;
        font-style: italic;
    }
}

.col-1, .col-2 {
    width: 50%;
}



// Media Queries

@import 'mobile';

@media (max-width: 1000px) {
    .about {
        .about-info {
            width: 100%;
            margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 2rem;
        }
        .about-history {
            width: 100%;
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
    .food-pics{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .food-pics img {
        width: 600px;
    }
}

@media (max-width: 650px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .food-pics{
        margin-left: 0;
    }
    .food-pics img {
        width: 350px;
        margin-left: 0;
    }
    .about {
        
        & > div {
            margin: 0;
            width: 380px;
        }
    .about-history {
        margin: 0;
        padding: 1rem;
        padding-top: 2rem;
    }
    .about-info{
        margin: 0;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    }
    .about-pics {
        margin: 0;
    }
    .food-pics{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .food-pics img {
        height: 200px;
        margin: 0;
        padding: 0;
    }
    .about-reviews {
        width: 100%;
        padding: 1rem;
    }
    .about-reviews h2 {
        font-size: 1.2rem;
        width: 100%;
    }
}
