@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', san-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: $primary-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

//Navbar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;

    ul {
        display: flex;
    }

    a {
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;
        &:hover {
            color: $primary-color;
        }
    }
}


//Divider
.divider {
    min-height: 5px;
}


// Landing
.landing {
    position: relative;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;

    &-inner {
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 16rem;
    }
    h1 {
        font-size: 3.5rem;
        padding: 1rem;
        text-shadow: 5px 2px $dark-color;
        z-index: 2;
        //background-color: $primary-color;
        border-radius: 5px;
    }
    p {
        font-size: 1.3rem;
        margin-top: 1.3rem;
        text-shadow: 2px 1px $dark-color;
        //background-color: $primary-color;
        z-index: 2;
        border-radius: 5px;
    }
}

.x-large {
    background: rgba(0,0,0, 0.5);
}
.lead {
    background: rgba(0,0,0, 0.5);
}

// Contact
.contact {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contact > div {
    padding: 1.2rem;

    a {
        padding: .5rem;
    }
}
.weblinks {
    padding-bottom: 0.7rem;
}
.fa-facebook {
    color: #3b5998;
}
.fa-yelp {
    color: #c41200;
}
.fa-shipping-fast {
    color: #FF3008;
}


// About Page
.about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    & > div {
        padding: 3rem;
    }

    .about-main {
        height: 100vh;
    }
    .about-info {
        background-color: $dark-color;
        color: #fff;
        margin-top: 3rem;

        .phone {
            padding-top: 2rem;
        }
        .table {
            padding-top: 2rem;
        }
    }

    .about-history {
        background-color: $dark-color;
        color: #fff;
        margin-top: 3rem;
        &:first-letter {
            font-size: 5rem;
        }
    }
}





//Menu Page

.menu {
    position: relative;
    background: url('../img/main.jpg') no-repeat center center/cover;
    height: 100vh;
}

.menu-list {
    background-color: $dark-color;
    color: #fff;
    margin: 3rem;
    text-align: center;
    
    .menucat {
        padding: 1.2rem;
    }
    .menucat2 {
        padding: 0.5rem;
    }
}